

$v-font-family: 'Roboto', sans-serif;

$v-app-loading-text: "Apples";

$v-background-color: hsl(0, 0, 99.5%);
// Left side menu background color
$valo-menu-background-color: #3A2A42;
$v-app-background-color: #fff;
// Top menu background color
$v-focus-color: #B55885; // hsl(218, 80%, 60%);
$v-border: 1px solid (v-shade 0.6);
$v-border-radius: 3px;
$v-bevel: inset 0 1px 0 v-tint;
$v-textfield-bevel: false;
$v-gradient: v-linear 3%;
$v-shadow: false;
$v-friendly-color: hsl(163, 61%, 41%);
$v-error-indicator-color: hsl(349, 66%, 56%);
$v-font-size--h1: 1.6em !default;
@import "../valo/valo.scss";

@mixin apples {
  @include valo;

  // Insert your own theme rules here
  
  .apples .valo-menu .valo-menu-title {
  	background: $v-app-background-color;
  	color: $v-selection-color;
  	text-shadow: none;
  	border-color: first-color(valo-border($color: $v-app-background-color, $strength: 0.5));
  }
  
  .oc-dotted-underscore {
  	border-bottom: 1px dotted #474747;
  }
  
  .oc-dotted-border {
  	border: 1px dotted #474747;
  	opacity: 0.5;
  }
 
  .v-caption-redicon .v-icon {
    color: red;
    font-size: 20px;
  }
  
  .v-caption-greenicon .v-icon  {
    color: green;
    font-size: 20px;
   }
   
  .v-selected .v-button-link {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
	color: white;
	cursor: pointer;
	text-decoration: underline;
	font-weight: inherit;
	-webkit-transition: color 140ms;
	-moz-transition: color 140ms;
	transition: color 140ms;
  }
}
